<nav>
  <a href='/planets'>Index</a>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/planets/new'>Add New Plant</a>
  <a href="/register">Sign Up</a>
  <a href="/login">Log In!</a>
</nav>
