<form action="/planets" method="post">
  <input placeholder="planet name" name="name">
  <input placeholder="img URL" name="img">
  <input placeholder="orbit time (in days)" name="orbitTime">
  <input placeholder="Alien name" name="natives">
  <button>SUBMIT</button>
</form>
